[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"

[packages]
matplotlib = "*"
gensim = '*'
spacy = '*'
sklearn = "*"
pytest = "*"
requests = "*"
commonmark = "*"
codecov = "*"
streamlit = "*"
altair = "*"

[requires]
python_version = ">=python 3.6"

[pipenv]
allow_prereleases = true
