[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"

[packages]
matplotlib = "*"
gensim = "~=3.8.3"
spacy = "~=2.3"
sklearn = "*"
pytest = "*"
requests = "*"
commonmark = "*"
codecov = "*"
streamlit = "~=0.78.0"
altair = "*"
textblob = "*"
scipy = "*"
pylint = "*"
importlib-metadata = "*"
atomicwrites = "*"

[pipenv]
allow_prereleases = true
