[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
codecov = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"

[packages]
nltk = "*"
matplotlib = "*"
scikit-learn = "*"
pytest = "*"
requests = "*"

[requires]
python_version = ">=python 3.6"

[pipenv]
allow_prereleases = true
